body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 18%;
  z-index: 999;
  
  background-color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-contact-bar {
  background-color: #2e2e2e;
  color: white;
  font-size: 12px;
  text-align: center;
 
}

.top-contact-bar .highlight {
  color: #78d6e0;
  font-weight: 500;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  transition: opacity 0.3s ease;
}

.main-header {
  background-color: #fff;
 
 
}

.header-flex {
  /* display: flex; */
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo  {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
 
}



.logo-dark {
  color: #333;
}

.tagline {
  font-size: 11px;
  color: #555;
    flex-direction: column;
  /* margin-top: 4px; */
  letter-spacing: 1px;
}

.nav-menu {
  display: flex;
  gap: 20px;
  font-size: 13px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px 10px;
}

.nav-menu a.active,
.nav-menu a:hover {
  background-color: #020e1131;
  color: black bold;
  border-radius: 10px;
  font-weight:15px
}

.bi {
  font-size: 26px;
   color: #333;
   cursor:pointer;
}

/* Scrollable content */
.scrollable-content {
  /* margin-top: 125px; height of header */
  /* height: calc(100vh - 125px); */
  overflow-y: auto;
}
.text-center{
  min-height:47px;
  align-items: center;
}


p{
  color: #eee;
  margin:16px 0px 0px 0px;
font-size: 12px;
  padding:0px 0px 0px px

}
.search-bar-container {
   min-height: 80px;
  text-align: center;
  background-color: #2B354B;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding:12px;
  margin: 0px auto;
   z-index: 1000;

  animation: slideDown 0.4s ease-out;

  
}

.search-bar-container input {
  width: 100%;
  max-width: 700px; /* Optional: limit max width */
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color:#2B354B;
  color: white;
  border-radius: 6px;
 
   
  
}
/* @media (max-width: 768px) {
  .search-bar-container input {
    max-width: 90%;
  }
} */
.icon-hover {
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon-hover:hover {
  color: white;
}
.search-bar-container input i {
  font-size: 2.9rem;
  color: #555;
  cursor: pointer;
}
.search-bar-container input::placeholder {
  color: #888;
  font-size:20px;
  text-align:center
}