 
<!-- <div class="main-container">
<div class="container text-center">
 <div class="col-md-auto">
    <div class="text-end"> <p>Call us today at: +91-9266665081 / +91-9266665082 or WhatsApp: 9266665082</p></div>
  
</div>
<div class>
  
</div>
</div>
</div> -->

  <header class="site-header">
    <div *ngIf="showSearch" class="search-bar-container ">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Search..."
    class=""
    style=" margin: 0px auto;"
    autofocus
  />
 <i 
  class="bi bi-x close-icon" 
  style="color: rgba(0, 0, 0, 0.596); cursor: pointer;"  
  *ngIf="showSearch" 
  (click)="toggleSearch()"
></i>
</div>

<div class="container text-center" >
      <div class="contact-container text-end">
        <p>
          <span class="highlight">Call us today at:</span> +91-9266665081 / +91-9266665082 or 
          <span class="highlight">WhatsApp:</span> 9266665082
        </p>
      </div>
    </div>

    <div class="main-header">
      <div class="container header-flex">
        <div class="logo">
         <img src="../../assets/img/Mrs. Samira Hadid.png" alt="Logo" class="logo"   style="width: 120px; height: auto; padding:0px 0px 0px 12px" />
       
        </div>
        <nav class="nav-menu">
          
          <a routerLink="/home" routerLinkActive="active"  class="active">HOME</a>
      <div class="nav-item dropdown" routerLinkActive="active">
  <a class="nav-link dropdown-toggle" routerLink="/about" role="button">
    ABOUT US
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" routerLink="/about/who-are-you">Who are You?</a>
    <a class="dropdown-item" routerLink="/about/clinic-tour">Clinic Tour</a>
    <a class="dropdown-item" routerLink="/about/our-team">Our Team</a>
    <a class="dropdown-item" routerLink="/about/dental-tourism-india">Dental Tourism India</a>
  </div>
</div>
            <a routerLink="/treatments" routerLinkActive="active">TREATMENTS</a>
            <a routerLink="/book-appointment" routerLinkActive="active">MAKE AN APPOINTMENT</a>
            <a routerLink="/warrenties" routerLinkActive="active">WARRANTIES</a>
            <a routerLink="/blog" routerLinkActive="active">BLOG</a>
             <a routerLink="/faq" routerLinkActive="active">FAQ’S</a>
            <a routerLink="/feedback" routerLinkActive="active">CONTACT US</a>
           
   <i 
  class="bi bi-search" 
  style="color: #333; cursor: pointer;"  
  *ngIf="!showSearch" 
  (click)="toggleSearch()"
></i>

<!-- Show this when search IS visible -->
<i 
  class="bi bi-x close-icon" 
  style="color: #333; cursor: pointer;"  
  *ngIf="showSearch" 
  (click)="toggleSearch()"
></i>
        </nav>
      </div>
    </div>
  </header>