<div class="my-background-div">
  <div class="wrapper">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()">
      <div>
        <div class="input-box">
          <i class="bi bi-telephone-fill me-2"></i>
          <input type="number" placeholder="Mobile Number" />
        </div>

        <div class="input-box">
          <i class="bi bi-lock-fill me-2"></i>
          <input type="text" placeholder="Enter Password" />
        </div>

        <div class="form-options">
          <label class="remember-me">
            <input type="checkbox" /> Remember me
          </label>

          <a href="#" class="forgot-password">Forget Password?</a>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-submit">Submit</button>
          <a href="/signup" class="signup-link">Don't have an Account?</a>
        </div>
      </div>
    </form>
  </div>
</div>