<!-- <footer class="site-footer">
  <div class="footer-content">
    <p>&copy; 2025 Kaansal Dental Clinic. All rights reserved.</p>

    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624586.2148547783!2d73.70055017852077!3d27.480621267311662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397a5df197884ff7%3A0x430afe109041ac7c!2sKaansal%20dental%20clinic!5e0!3m2!1sen!2sin!4v1752746167175!5m2!1sen!2sin"
        width="100%"
        height="300"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="footer-links">
      <a href="#">Privacy</a>
      <a href="#">Contact</a>
    </div>
  </div>
</footer> -->


<div class="container" >
<div class="top-bar d-flex flex-wrap justify-content-around align-items-center text-white  mx-auto" style=" max-width: 1170px; padding:0px 15px;">
  <!-- Location -->
  <div class="item-center" style=" background-color: #999;">
    <a href="https://maps.app.goo.gl/q5f9JZ2eshrAwFnL9" target="_blank" class="text-white text-decoration-none d-flex align-items-center">
      <i class="bi bi-geo-alt-fill me-2 fs-5 text-info"></i>
      <span>HAT ROAD, GUNA<br>MADHYA PRADESH</span>
    </a>
  </div>

  <!-- Phone -->
  <div class="d-flex align-items-center">
    <i class="bi bi-telephone-fill me-2 fs-5 text-info"></i>
    <span>CALL US TODAY AT<br>8982807578</span>
  </div>

  <!-- Hours -->
  <div class="d-flex align-items-center">
    <i class="bi bi-clock-fill me-2 fs-5 text-info"></i>
    <span>OPENING HOURS<br>Mon - Sat: 10:00AM - 8:00PM</span>
  </div>

  <!-- Email -->
  <div class="d-flex align-items-center">
    <i class="bi bi-envelope-fill me-2 fs-5 text-info"></i>
    <span>APPOINTMENT BOOKING<br>
      <a href="mailto:infodentally@gmail.com" class="text-info text-decoration-none">Email Us</a>
    </span>
  </div>
</div>

<footer class="footer-section text-white py-5 text-center mx-auto" style="max-width: 1170px; padding:0px 15px;">
  <div class="container">
    <div class="row">

      <!-- About -->
      <div class="col-md-3 mb-4">
        <h2 class="footer-logo"><span class="text-info">Kansal</span>Dental Clinic</h2>
        
        <p class="clinic-description" >kansal Clinic is one of the best multispecialty dental clinics based in Guna. We have in place the finest team of dentists, specialists, dental hygienists and support staff representing all the specialties that comprise dental care.</p>
        
        <img src="../../assets/img/award.png" class="img-fluid my-1 " alt="Award" />
        <img src="../../assets/img/Untitled design.png" class="img-fluid my-1 text-white my-2" alt="MTC Logo" />
        <button class="btn btn-info text-white my-2">Contact Us</button>
        <img src="../../assets/img/MTC.png" class="img-fluid my-1" alt="MTC Logo" />
      </div>

  <div class="col-md-3 mb-4 section widget widget_nav_menu animate-fade-in">
    <h5 class="footer-heading with-line">TREATMENTS</h5>
    <div class="underline">
    <span class="underline-blue"></span>
    <span class="underline-grey"></span>
  </div>
    <ul class="list-unstyled small "style="text-align:justify">
      <li >Smile Makeover</li>
      <li>Dental Implants</li>
      <li>Orthodontics</li>
      <li>Veneers Treatment</li>
      <li>Pain Free Root Canal</li>
      <li>Dental Clinic Gurgaon</li>
      <li>Oral and Maxillofacial</li>
      <li>Full Mouth Dental Implants</li>
      <li>Invisible Aligners in Delhi</li>
      <li>Single Tooth Implant Cost</li>
    </ul>
  </div>

  <!-- Site Links -->
  <div class="col-md-3 mb-4 animate-fade-in delay-1s">
    <h5 class="footer-heading with-line">SITE LINKS</h5>
      <div class="underline">
    <span class="underline-blue"></span>
    <span class="underline-grey"></span>
  </div>
    <ul class="list-unstyled small">
      <li class="display">Home</li>
      <li>About Us</li>
      <li>Treatments</li>
      <li>Warranties</li>
      <li>Blog</li>
      <li>FAQs</li>
      <li>Contact Us</li>
    </ul>
  </div>

      <!-- Maps & Contact -->
      <div class="col-md-3 mb-4">
        <h5 class="footer-heading">REACH US</h5>
          <div class="underline">
    <span class="underline-blue"></span>
    <span class="underline-grey"></span>
  </div>   
        <p class="fw-bold small mb-1">New Delhi:</p>
        <iframe class="w-100 mb-2" height="150" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624586.2148547783!2d73.70055017852077!3d27.480621267311662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397a5df197884ff7%3A0x430afe109041ac7c!2sKaansal%20dental%20clinic!5e0!3m2!1sen!2sin!4v1752746167175!5m2!1sen!2sin" frameborder="0"></iframe>
       
        <p class="small">Call us: +91-9266665081 / WhatsApp: 9266665082</p>
        
        <div class="d-flex gap-2">
          <i class="bi bi-google fs-5"></i>
          <i class="bi bi-facebook fs-5"></i>
          <i class="bi bi-youtube fs-5"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
  </div>

